.heading-section {
    background-color: rgb(14, 14, 14);
    padding: 5%;
    color: white;
}


h1 {
    background: linear-gradient(to right, #ee0979, #ff8c3a);
    letter-spacing: -2px;
    font-size: 500%;
    margin: -20px 0 80px;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transform: translateY(80px);
}